script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script(src="../vendors/js/animated-circle.js")
//- script(src="../js/popper.min.js")
//- script(src="../js/bootstrap.min.js")
//- script(src="../js/slick.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
//- script(src="../js/counterup.js")
//- script(src="../js/custom.js")
//- script(src="../js/morphext.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js")
//- script(src="../js/faker.js")
//- script(src="../js/cuda.js")



script(src="../vendors/js/html5shiv.min.js")
script(src="../vendors/js/respond.min.js")
script(src="../vendors/js/selectivizr-min.js")