mixin social()
    each val, key in {"facebook-f":'Years of Experienced',"twitter":'Trusted Clients',"linkedin-in":'Qualified Lawyers',"google-plus":'Honors & Awards'}
        li.social__icon
                i.fab(class='fa-'+key, aria-hidden='true')
                