.hero
    .banner
        .banner__wrapper
            .banner__items
                .banner__text
                    h1 Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
                .banner__btn
                        a.btn.btn-hero working with us
                    
                        //- a.btn Get started
            //- .banner__items
                //- .banner__img
                //-     img(src="../images/header-iphone.png", alt="")