//- include ./component/navigation.pug
include ./component/navlist.pug
include ./component/team.pug
include ./component/social.pug
include ./component/animated_circle.pug
include ./component/button.pug
include ./component/portfolio.pug
include ./component/testimonial.pug
include ./component/contact.pug
//- include ./component/form.pug
//- include ./component/feature.pug
include ./component/services.pug
